<div class="main-content content-white">
  <div class="page-container">

    <div class="panel panel-transparent">

      <div class="panel-body">



        <div class="row">
          <!-- toast -->
          
          <div class="col-sm-10">
            <h3><span class="semi-bold">Notifications </span>Labels, etc</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorum consequatur consectetur. Vel nostrum porro distinctio velit nemo, commodi a perspiciatis quibusdam corporis sunt, veniam quasi maxime iste doloremque incidunt.</p>



            <div class="toast-wrap">

              <toast>
                <div class="toast-container" id="toast" style="opacity: 1;/* z-index: -1; */visibility: visible;">
                  <div class="toast_card toast-Success">

                    <div class="toast-icon">
                      <i class="material-icons">message</i>
                    </div>

                    <div class="toast-content">
                      
                      <p class="toast-message">&nbsp; You did good!</p>
                    </div>

                  </div>
                </div>
              </toast>

              <toast>
                <div class="toast-container" id="toast" style="opacity: 1;/* z-index: -1; */visibility: visible;">
                  <div class="toast_card toast-Warning">

                    <div class="toast-icon">
                      <i class="material-icons">message</i>
                    </div>

                    <div class="toast-content">
                        
                      <p class="toast-message">&nbsp; Dont do that!</p>
                    </div>

                  </div>
                </div>
              </toast>

              <toast>
                <div class="toast-container" id="toast" style="opacity: 1;/* z-index: -1; */visibility: visible;">
                  <div class="toast_card toast-Error">

                    <div class="toast-icon">
                      <i class="material-icons">message</i>
                    </div>

                    <div class="toast-content">
                       
                      <p class="toast-message">&nbsp; Something not good happened</p>
                    </div>

                  </div>
                </div>
              </toast>

            </div>

           <br>
           <br>

          </div>


          <div class="row">


            <div class="col-sm-6">
              <!-- START PANEL -->
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="panel-title">Simple labels
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row-fluid">
                    <p>
                      <br>
                      <span class="label">DEFAULT</span>
                      <span class="label label-success">VIEW</span>
                      <span class="label label-warning">HOLD</span>
                      <span class="label label-important">ALERT</span>
                      <span class="label label-info">SUCCESS</span>
                      <span class="label label-inverse">SOLD</span>
                      <br>
                      <br>
                      </div>
                </div>
              </div>
              <!-- END PANEL -->
            </div>

            <div class="col-sm-6">
              <!-- START PANEL -->
              <!--<div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="panel-title">Tooltips
                  </div>
                </div>
                <div class="panel-body">

                  <br>
                  <button title="" data-toggle="tooltip" class="btn btn-default tip m-b-5 m-r-5" type="button" data-original-title="Up here!">Top</button>
                  <button data-placement="right" title="" data-toggle="tooltip" class="btn btn-default tip m-b-5 m-r-5" type="button" data-original-title="Hello there!">Right</button>
                  <button data-placement="bottom" title="" data-toggle="tooltip" class="btn btn-default tip m-b-5 m-r-5" type="button" data-original-title="Look down!">Down</button>
                  <button data-placement="left" title="" data-toggle="tooltip" class="btn btn-default tip m-b-5 m-r-5" type="button" data-original-title="Over here!">Left</button>
                  <br>
                </div>
              </div>-->
              <!-- END PANEL -->
            </div>

          </div>


        </div>
      </div>
    </div>