.sc-content {
    background: $body-background;
}

.sc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: $main-background;
    width: $main-width;
    min-height: $main-height;
    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__panel {
            display: none;
            &--active {
                display: block;
            }
        }
    }
}

//content containers, adjust in: mixins.scss
.content-container, .grid-content-container {
    @include content-container($block-half, $block-half, $block-half, $block-third);
    &.not_active {
        overflow: hidden;
    }
}

.grid-content-container {
    @include content-container($block-half, $block-half, $block-half, $block-third);
    display: flex;
    flex: 1 1 auto;
    &.not_active {
        overflow: hidden;
    }
}


// todo: api? 
.page-container {
    padding: $block-half $block-half;
    
}  


//layouts
.action-content {
    max-width: 52rem; //mobile break point
    position: relative;
    width: 100%;
    padding: $block-full $block-half $block-half;
}



