
custom-modal {
    .modal-container {
        @include custom-modal-container;   
    }

    // todo:
    .modal {
   	    @include custom-modal();

        &-header {
            border-bottom: $base-border;
            padding: $block-sixth;
                
            h5 {
                margin-bottom: 0;
            }
        }
        
        &-content {
            flex: 1 1 auto;
            padding: $block-fourth;
        }
        
        &-footer {
            padding: $block-fourth;
            border-top: $base-border;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            button {
                margin-bottom: 0;
                margin-left: $block-sixth;
            }
        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;   
        background: transparentize($black, 0.30);
        opacity: 0;
        transition: 300ms ease all;   
    }
}

custom-modal {
    &.active {
        .modal-container {
            @include custom-modal-container($z:999, $opacity:1);   
        }

        .modal {
             @include custom-modal($z: 1000, $opacity:1);
             transition: opacity 400ms ease;
             transition-delay: 300ms     
        }

        .modal-overlay {
            opacity: 1;
            transition: opacity 300ms ease;    
        }
    } 
}



confirmation-modal {

.modal-container {
   @include modal-container;
}

// todo:
.modal {
  @include modal();

  &-header {
   border-bottom: $base-border;
   padding: $block-sixth;
        
        h5 {
              margin-bottom: 0;
        }
  }
  
  &-content {
      flex: 1 1 auto;
      padding: $block-fourth;
  }
  
   &-footer {
      padding: $block-fourth;
      border-top: $base-border;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      
        button {
            margin-bottom: 0;
            margin-left: $block-sixth;
        }
  }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;   
    background: transparentize($black, 0.30);
    transition: 400ms ease-in all;
    
}

    
}