.toast-container {
  /*-webkit-transition-property: opacity, bottom, left, right, width, margin, border-radius;
  transition-property: opacity, bottom, left, right, width, margin, border-radius;
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;*/
  position: fixed;
  top: $block-fourth;
  right: $block-fourth;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.toast-container > * {
  text-align: center;
}

.toast_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: $border-rad;
  min-height: $block-full;
  z-index: 1;
  text-align: center;
  color: white;
  box-shadow: 0;
  transition: all 400ms ease;
  transition-delay: 150ms;
  margin-bottom: $block-fourth;

 .toast-icon {
    background: $panel;
    height: $block-full;
    padding: 2.04286rem;
    border-radius: $border-rad 0 0 $border-rad;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms ease;
  }
  
  .toast-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 $block-half;
    border-radius: 0 $border-rad $border-rad 0;
    opacity: 0;
    transform: translateX(250px);
    transition: transform 300ms ease;
    transition-delay: 100ms;
    & > * {
      margin-bottom: 0;
      margin-top: 0;
      color: white;
      white-space: nowrap;
      text-align: left;
    }
  }
}

//Active transition. TODO: use keyframe animation. 

.toast_card[class*="toast-"] {
   box-shadow: 0px 0px 15.9px 2px rgba(0, 0, 0, 0.05), 0px 6px 7px 0px rgba(202, 202, 202, 0.27);
  
  .toast-icon {
    transform: scale(1);
    opacity: 1;
    display: flex;
    align-items: center;
  }
  
  .toast-content {
    transform: translateX(0);
     opacity: 1;
  }
  
}

//Error icon and bg colors

.toast-Error {
  .toast-icon i{color: $color-danger;}
  .toast-content{
    background-color: $color-danger;
  }
}

.toast-Warning {
  .toast-icon i {color: $color-warning;}
  .toast-content{
    background-color: $color-warning;
  }
}

.toast-Success {
  .toast-icon i {color: $color-complete;}
  .toast-content{
      background-color: $color-complete;
  }
}


