$color-primary: #0033a0; //rgba(0, 51, 160, 100)
$color-complete: #3e7cb1; //rgba(62, 124, 177, 100)
$color-info: #81a4cd; //rgba(129, 164, 205, 100)
$color4: #dbe4ee; //rgba(219, 228, 238, 100)
$color-success: #f17300; //rgba(241, 115, 0, 100)

// $color-warning: #f8d053;
// $color-danger: #f55753;