
// Main stylesheet.
// google font "roboto"
// @import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700,500,300";
// Icons / Icon Font
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
// @import "http://weloveiconfonts.com/api/?family=iconicfill";
@import "https://cdn.linearicons.com/free/1.0.0/icon-font.min.css";

// Variables, functions, mixins and utils
@import "base/_functions";
@import "base/_variables";
@import "tests/_exmp";

@import "base/mixins/_etc";
@import "base/mixins/clearfix";
@import "base/mixins/breakpoints";
@import "base/mixins/grid-framework";
@import "base/mixins/grid";
@import "base/mixins/prefixer";
@import "base/mixins/masonary";
@import "base/mixins/border-radius";
@import "base/mixins/tooltips";



@import "base/_base";
@import "base/_form";
@import "base/_tooltips";
@import "base/_responsive";


@import "base/_normalize";
@import "base/_reset";
@import "base/_fonts";
@import "base/_typography";
@import "base/_color";
@import "base/_form";
@import "base/_panels";
@import "base/_button";
@import "base/_badge";
@import "base/_code";
@import "base/_divider";
@import "base/_ngval";
@import "base/_grid";
@import "base/_link";
@import "base/_list";
@import "base/_spacing";
@import "base/_table";
@import "base/_cc";
@import "base/_chips";
@import "base/_sidebar";
@import "base/_loaders";
@import "base/_range-slider";

@import "base/_ie";


// Layout
@import "layout/_layout";
@import "layout/_print";




// themes
// @import "themes/_beach-ball";

// Components
//nav
@import "components/_nav";
@import "components/_modal";
@import "components/_group-roles";


@import "components/_invite-modal";
@import "components/_idle-dialog";
@import "components/_datepicker";
@import "base/_progress-tracker";

//user-header
@import "components/_header";
@import "components/_home-account";
@import "components/_user-profile";
@import "components/_user-alerts";

//UX-elements
@import "components/_reveal";
@import "components/_dropdowns";

//pages
@import "components/_apis";
@import "components/_customers";
@import "components/_cfo";
@import "components/_webhooks";
@import "components/_transactions";

// Tests
@import "tests/_tests";
@import "tests/_tabs_accordian";
@import "tests/_tbuttons";


//Toasts
@import "components/_toast";

// Bootstrap Grid only
//
// Includes relevant variables and mixins for the regular (non-flexbox) grid
// system, as well as the generated predefined classes (e.g., `.col-4-sm`).

// Toggles
//
// Used in conjunction with global variables to enable certain theme features.
@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          1.875rem !default; // 30px


