<div class="main-content content-white">
  <div class="page-container">
    <div class="panel panel-transparent">

      <div class="panel-body">

        <div class="row">
          <div class="col-sm-5">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title">
                  Typographic Scale &amp; Basic Styles
                </div>
              </div>
              <div class="panel-body">
                <h3 class="text-primary no-margin">Standard Styles</h3>
                <br>
                <p>Too many type sizes and styles at once can wreck any layout. A typographic scale is a limited set of type
                  sizes that work well together, along with the layout grid. The basic set of styles are based on a typographic
                  scale of 12, 14, 16, 20, 34 and 36.
                </p>
                <p>
                  These sizes and styles balance content density and reading comfort under typical usage conditions.
                </p>
                <br>
                  <a href="https://fonts.google.com/selection?selection.family=Roboto:300,400,500,700">More info on the font family</a>
              </div>
            </div>

          </div>
          <div class="col-sm-7">
            <!-- START PANEL -->
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="sm-p-t-20">Headings are the first thing you ll see or read in a document. We wanted to make them perfect in both size
                  and colour.
                </p>
                <div class="row">
                  <table class="table table-condensed table-borderless">
                    <tbody>
                      <tr>
                        <td class="">
                          <h1>h1. heading</h1>
                        </td>
                        <td class="type-info">Light 36px</td>
                      </tr>
                      <tr>
                        <td>
                          <h2 class="">h2. heading</h2>
                        </td>
                        <td class="type-info">Light 30px</td>
                      </tr>
                      <tr>
                        <td>
                          <h3 class="">h3. heading</h3>
                        </td>
                        <td class="type-info">Light 24px</td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="">h4. heading</h4>
                        </td>
                        <td class="type-info">Light 18px</td>
                      </tr>
                      <tr>
                        <td>
                          <h5 class="">h5. heading</h5>
                        </td>
                        <td class="type-info">Light 14px</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>

      
      </div>

    </div>
  </div>
</div>