//remove once selector specified
content {
    display: flex;
    flex-direction: column;
    flex: 1;
    undefined {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

//colors
$color1: #abafd1; //rgba(171, 175, 209, 100)
$color2: #48acce; //rgba(72, 172, 206, 100)
$color3: #3e45c4; //rgba(62, 69, 196, 100)
$color4: #404d61; //rgba(64, 77, 97, 100)
$color5: #f7c051; //rgba(247, 192, 81, 100)
$color6: #abd1b9; //rgba(171, 209, 185, 100)
$color7: #69ce48; //rgba(105, 206, 72, 100)
$color8: #3ea9c4; //rgba(62, 169, 196, 100)
$color9: #404d61; //rgba(64, 77, 97, 100)
$color10: #f7515f; //rgba(247, 81, 95, 100)
$color11: #aac3d0; //rgba(171, 175, 209, 100)
$color12: #4ccead; //rgba(72, 172, 206, 100)
$color13: #3f88c5; //rgba(62, 69, 196, 100)
$color14: #404d61; //rgba(64, 77, 97, 100)
$color15: #f86c51; //rgba(247, 192, 81, 100)
